In [4]:
import importlib
import pandas as pd
import sklearn
import matplotlib

In [5]:
df = pd.read_csv(
    "ChallengeMachineLearning/data_A/data_A.data",
    sep=r"\s+",          # Séparateur = un ou plusieurs espaces
    header=None,         # Pas d’en-tête 
    na_values=["NaN"]    # Interprète le texte "NaN" comme une vraie valeur manquante
)
nb_nan = df.isna().sum().sum()
print(f"Missings values {nb_nan}")
df.head()

Missings values 9035

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,11.0,45,34,1.0,55,127921.0,1.0,1.0,0,4,...,9,1,0,1,3,241885.0,0,1.0,44,4
1,4.0,50,41,1.0,60,231619.0,1.0,2.0,0,2,...,10,5,0,1,3,104334.0,0,1.0,59,9
2,2.0,40,36,1.0,26,119941.0,1.0,1.0,0,4,...,9,7,0,1,2,77953.0,0,1.0,44,15
3,1.0,40,26,1.0,38,215766.0,1.0,1.0,0,2,...,10,2,3103,1,3,167350.0,0,1.0,31,4
4,1.0,40,28,1.0,38,170525.0,1.0,1.0,0,7,...,11,2,0,2,2,109857.0,0,1.0,18,1

In [21]:
import automl
importlib.reload(automl)
from automl import AutoML

automl = AutoML()

data, solution, types = automl.load_dataset("ChallengeMachineLearning/data_A")